
@using PYS_Entidad;
@{
    E_TA_EVAL_DESE obj = (E_TA_EVAL_DESE)ViewBag.getEvaluacion;
    Layout = null;
}

<script>
    function frm_buscar_COD_CCAR() {
        $.ajax({
            type: "post", url: "@Url.Action("Ayuda_Cargo", "AyudaBusqueda", new { Area = "Aprobaciones" })",
            success: function (res) {
                $("#ViewModal2").html(res);
                $("#btnViewModal2").click();
            },
            error: function (res) {
                alertify.error("<strong>Error de conexión.</strong>");
            }
        });
    };
    function frm_buscar_TIP_EVAL() {
        $.ajax({
            type: "post", url: "@Url.Action("Ayuda_Evaluacion", "AyudaBusqueda", new { Area = "Aprobaciones" })",
            success: function (res) {
                $("#ViewModal2").html(res);
                $("#btnViewModal2").click();
            },
        error: function (res) {
            alertify.error("<strong>Error de conexión.</strong>");
        }
    });
    };
</script>

<form id="Frm_Evaluacion_Desempeño">
    <div class="modal-dialog modal-editar">
        <div class="modal-content">
            <div class="modal-header text-center ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCerrarEvaluacionEdit">&times;</button>
                <h2>Editar registro</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Código Evaluación", new { @class = "control-label" })
                            @Html.TextBoxFor(x => @obj.FS_COD_EVAL_DESE, new
                   {
                       @class = "form-control validaCodigo_3",
                       @id = "TXT_FS_COD_EVAL_DESE",
                       @disabled = "disabled"
                   })

                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            @Html.Label("Observación", new { @class = "control-label" })
                            @Html.TextBoxFor(x => @obj.FS_DES_OBSE, new { @class = "form-control", @id = "TXT_FS_DES_OBSE" })
                            @Html.ValidationMessageFor(x => @obj.FS_DES_OBSE, null, new { @class = "label label-alert help-block" })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Label("Descripción Evaluación", new { @class = "control-label" })
                            @Html.TextBoxFor(x => @obj.FS_DES_EVAL_DESE, new { @class = "form-control", @id = "TXT_FS_DES_EVAL_DESE" })
                            @Html.ValidationMessageFor(x => @obj.FS_DES_EVAL_DESE, null, new { @class = "label label-alert help-block" })

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <!-- Alineación, col-sm-12-->
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Código Cargo", new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(x => @obj.FS_COD_CCAR, new { @class = "form-control search-query validaCodigo_3", @id = "TXT_FS_COD_CCAR" })
                                    <span class="input-group-btn">
                                        <button id="btnBuscarCodCcar" class="btn btn-transparent btn-sm cancel btn-buscar" data-toggle="tooltip"
                                                title="Buscar" type="button" onclick="frm_buscar_COD_CCAR();" disableValidation="true">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(x => @obj.FS_COD_CCAR, null, new { @class = "label label-alert help-block" })
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="TXT_FS_DES_CCAR" style="visibility:hidden" class="control-label">space</label>
                                <input class="form-control" id="TXT_FS_DES_CCAR" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Tipo Evaluación", new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(x => @obj.FS_TIP_EVAL, new { @class = "form-control search-query validaCodigo_4", @id = "TXT_FS_TIP_EVAL" })
                                    <span class="input-group-btn">
                                        <button id="btnBuscarTipEval" class="btn btn-transparent btn-sm btn-buscar cancel"
                                                data-toggle="tooltip" title="Buscar" type="button"
                                                onclick="frm_buscar_TIP_EVAL();" disableValidation="true">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(x => @obj.FS_TIP_EVAL, null, new { @class = "label label-alert help-block" })
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="TXT_FS_DES_TIPO_EVAL" style="visibility:hidden" class="control-label">space</label>
                                <input class="form-control" id="TXT_FS_DES_TIPO_EVAL" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="modal-footer a-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="btnGrabar" onclick="Actualizar('@obj.FS_COD_EVAL_DESE');">
                                    <span class="glyphicon glyphicon-pencil glyphicon-editar"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="btnCancelar" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove glyphicon-cancelar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ViewModal2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <!--- Body del modal de tabla aquí-->
    </div>
    <div class="col-sm-2 a-left no-padd">
        <button data-toggle="modal" data-target="#ViewModal2" id="btnViewModal2" hidden="hidden" type="button">Mostrar</button>
    </div>
</form>
@Scripts.Render("~/bundles/jsValidacion")

<script type="text/javascript">
    select_FS_COD_CCAR();
    select_FS_TIP_EVAL();
    // Imprimir descripción de Código CARGO
    function select_FS_COD_CCAR() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("Ayuda_Cargo", "AyudaBusqueda", new { Area = "Aprobaciones" })",
            success: function (data) {
                var codCampo = "#TXT_FS_COD_CCAR";
                var desCampo = "#TXT_FS_DES_CCAR";
                var nomForm = "#Frm_Evaluacion_Desempeño";

                var valCampo = $(codCampo).val();
                var busFila = $(data).find('tbody>tr.row-cate-carg:contains("' + valCampo + '")');
                var colCero = $(busFila).children("td:eq(0)");
                var colUno = $(busFila).children("td:eq(1)");          
                if ($.trim($(colUno).html()) == '' || ($.trim($(colCero).html()) != valCampo) || $.trim(valCampo) == '') {
                    $(nomForm).validate().element(codCampo);
                    $(desCampo).val("");
                }
                else {
                    $(desCampo).val(colUno.html());
                }
            },
        error: function (res) {
            alertify.error("<strong>Error de conexión.</strong>");
        }
    });
    return false;
    }
    // Imprimir descripción de Código TIPO EVAL
    function select_FS_TIP_EVAL() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("Ayuda_Evaluacion", "AyudaBusqueda", new { Area = "Aprobaciones" })",
            success: function (data) {
                var codCampo = "#TXT_FS_TIP_EVAL";
                var desCampo = "#TXT_FS_DES_TIPO_EVAL";
                var nomForm = "#Frm_Evaluacion_Desempeño";

                var valCampo = $(codCampo).val();
                var busFila = $(data).find('tbody>tr.row-tipo-eval:contains("' + valCampo + '")');
                var colCero = $(busFila).children("td:eq(0)");
                var colUno = $(busFila).children("td:eq(1)");               
                if ($.trim($(colUno).html()) == '' || ($.trim($(colCero).html()) != valCampo) || $.trim(valCampo) == '') {
                    $(nomForm).validate().element(codCampo);
                    $(desCampo).val("");
                }
                else {
                    $(desCampo).val(colUno.html());
                }
            },
        error: function (res) {
            alertify.error("<strong>Error de conexión.</strong>");
        }
    });
    return false;
    }

    function Actualizar(varCodEval) {
        var form = $("#Frm_Evaluacion_Desempeño");

        if (form.validate() && form.valid()) {
            var prm = {
                FS_COD_EVAL_DESE: varCodEval,
                FS_DES_EVAL_DESE: $('#TXT_FS_DES_EVAL_DESE').val(),
                FS_DES_OBSE: $('#TXT_FS_DES_OBSE').val(),
                FS_TIP_EVAL: $('#TXT_FS_TIP_EVAL').val(),
                FS_COD_CCAR: $('#TXT_FS_COD_CCAR').val()
            };
            $.ajax({
                type: "post", url: "@Url.Action("Actualizar", "EvaluacionDesempeño")", data: prm,
                success: function (res) {
                    alertify.success("<strong>Actualizado correctamente.</strong>");
                    Cancelar();
                    $("#btnCerrarEvaluacionEdit").click();
                    $(".modal-backdrop").removeClass();
                },
                error: function (res) {
                    alertify.error("<strong>No se puede actualizar .</strong>");
                }
            });
        };
    };
    $('#TXT_FS_COD_CCAR').keydown(function (e) {
        if (e.keyCode == 13) {
            select_FS_COD_CCAR();
        }
    });
    $('#TXT_FS_TIP_EVAL').keydown(function (e) {
        if (e.keyCode == 13) {
            select_FS_TIP_EVAL();
        }
    });

</script>

