@using PYS_Entidad;
@{
    List<E_TA_EVAL_DESE> list = (List<E_TA_EVAL_DESE>)ViewBag.List_Evaluación;
    Layout = null;
}

<script>
    function Nuevo() {
        $.ajax({
            type: "post", url: "@Url.Action("NewEvaluacion", "EvaluacionDesempeño")",
            success: function (res) {
                $("#ViewModal").empty();
                $("#ViewModal").html(res);
                $("#btnViewModal").click();
            },
            error: function (res) {
                alertify.error("<strong>Error de conexión.</strong>");
            }
        });
    };
    function Editar(varCodCate) {
        var prm = {
            FS_COD_EVAL_DESE: varCodCate
        };
        $.ajax({
            type: "post", data: prm, url: "@Url.Action("EditEvaluacion", "EvaluacionDesempeño")",
            success: function (res) {
                $("#ViewModal").empty();
                $("#ViewModal").html(res);
                $("#btnViewModal").click();
            },
            error: function (res) {
                alertify.error("<strong>Error de conexión.</strong>");
            }
        });
    };

    function Eliminar(codigo) {
        alertify.confirm('¿Está seguro de eliminar el registro?', function (e) {
            if (e) {
                var prm = {
                    FS_COD_EVAL_DESE: codigo
                };
                $.ajax({
                    type: "post", url: "@Url.Action("DeleteEvaluacion", "EvaluacionDesempeño")",
                    data: prm,
                    success: function (res) {
                        alertify.success("<strong>Eliminado correctamente.</strong>");
                        $("#btnEvaluacionDesempeño").click();
                        $(".modal-backdrop").removeClass();
                    },
                    error: function (res) {
                        alertify.error("<strong>No se puede eliminar.</strong>");
                    }
                });
            } else {
                return false;
            };
        });
    };

    function Cancelar() {
        $("#btnEvaluacionDesempeño").click();
    };

    function Imprimir() {

    };

</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Evaluacion Desempeño</h3>
    </div>
    <div class="panel-body">
        <div class="content-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="table table-responsive">

                            <div class="clearfix form-group btn-yellow pull-left btn-nuevo-group">
                                <div class="btn-group">
                                    <button id="btnNuevo" class="btn btn-default pull-left" onclick="Nuevo();">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
                                    </button>
                                </div>
                            </div>

                            <table id="tblEvaluacionDesempeño" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                                <thead class="bg-primary">
                                    <tr>
                                        <th style="width:8%">Acciones</th>
                                        <th style="width:11%">Código</th>
                                        <th style="width:44%">Descripción</th>
                                        <th style="width:26%">Observación</th>
                                        <th style="width:7.5%">Cód. Tipo Evaluación</th>
                                        <th style="width:7.5%">Cód. Cargo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (list.Count >= 0 && list != null)
                                        {
                                            foreach (E_TA_EVAL_DESE item in list)
                                            {
                                                <tr>
                                                    <td class="controls  text-center text-middle" style="padding:2px !important">
                                                        <span class="control-table">
                                                            <i data-toggle="tooltip" title="" data-original-title="Cancelar" id="btnCancelar" class="glyphicon glyphicon-remove" style="display: none" onclick="Cancelar();" />
                                                        </span>
                                                        <span class="control-table">
                                                            <i data-toggle="tooltip" title="" data-original-title="Editar" id="Idpencil" class="glyphicon glyphicon-pencil btn btn-transparent" style="color:#92c696;  width:40px !important" onclick="Editar('@item.FS_COD_EVAL_DESE');"></i>
                                                        </span>
                                                        <span class="control-table">
                                                            <i data-toggle="tooltip" title="" data-original-title="Eliminar" class="glyphicon glyphicon-floppy-remove btn btn-transparent" style="color:#e5a6a4; width:40px !important" onclick="Eliminar('@item.FS_COD_EVAL_DESE');"></i>
                                                        </span>
                                                    </td>
                                                    <td class="col-cod-eval-dese">@item.FS_COD_EVAL_DESE</td>
                                                    <td style="text-align:left">@item.FS_DES_EVAL_DESE</td>
                                                    <td style="text-align:left">@item.FS_DES_OBSE</td>
                                                    <td style="text-align:left">@item.FS_TIP_EVAL</td>
                                                    <td style="text-align:left">@item.FS_COD_CCAR</td>

                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
</div>
<div class="col-sm-2 a-left no-padd">
    <button data-toggle="modal" data-target="#ViewModal" id="btnViewModal" onclick="" hidden="hidden">Mostrar</button>
</div>

<script>
   $("tr th").css("white-space","nowrap")
    $(function () {
        $("tr th").addClass("text-center");
        $('#tblEvaluacionDesempeño').DataTable({
            responsive: true,
            stateSave: true,
            "stateDuration": 25,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Exportar',
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print'
                    ]
                }
            ],
            "lengthMenu": [[5, 10, -1], [5, 10, "Todos"]],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            }
        });
    });
</script>